/*.model
/*.bak
/gradlew*
/build/
/*~
/*.mat
/*.hpl
/untitled.png
/target/*
/*.class
/target/
/.gradle/
/.attach_pid6418
/.attach_pid3174
/.attach_pid4587
/bin/
/ranges.csv
/ranges.ods
/ranges.txt
/ranges-AA.csv
/*.csv
