/rh.tm~
/autocorrelation_MAS.bak
/autocorrelation0_MAS.bak
/autocorrelation1_MAS.bak
/autocorrelation2_MAS.bak
/dlksf;ldskf;dslf1_MAS.bak
/ZCauchy.aux
/ZCauchy.bbl
/ZCauchy.blg
/ZCauchy.dvi
/ZCauchy.log
/ZCauchy.out
/ZCauchy.spl
